{{#project}}
<h2>{{title}}</h2>

<table class="dates">
    <tbody>
        <tr><td>Created</td><td>{{#format_date}}{{created_at}}{{/format_date}}</td></tr>
        {{#started_on}}<tr><td>Started</td><td>{{#format_date}}{{started_on}}{{/format_date}}</td></tr>{{/started_on}}
        <tr><td>Due</td><td>{{#format_date}}{{due_date}}{{/format_date}}</td></tr>
        {{#completed_on}}<tr><td>Completed</td><td>{{#format_date}}{{completed_on}}{{/format_date}}</td></tr>{{/completed_on}}
    </tbody>
</table>

<table class="meta">
    <tbody>
        <tr>
            <td class="label">client</td>   <td>{{client}}</td>
            <td class="label">proposal</td>   <td>{{#proposal}}<a href="{{proposal}}">proposal</a>{{/proposal}}</td>
            <td class="label">mockups</td>   <td>{{#mockups}}<a href="{{mockups}}">mockups</a>{{/mockups}}</td>
            <td class="label">status</td>   <td>{{status}}</td>
        </tr>
    </tbody>
</table>

{{/project}}