#account { float: right; }

section form label,
section form input {
    display: block;
}

section form input[type="text"] {
    width: 50%;
}

tr.overdue { background: red; }

#projects table.dates {
    float: right;
    font-size: 0.7em;
    border-collapse: collapse;
}

#projects table.meta {
    border: 1px solid #888;
    font-size: 0.7em;
    margin-bottom: 1em;
    border-collapse: collapse;
    width: 75%;
}

#projects table.dates tr { border: 1px solid #888; }

#projects table.dates tr td:first-child,
#projects table.meta tr td.label {
    background: #bbb;
    padding-right: 7px;
    text-transform: uppercase;
}

#projects table.meta tr td { padding-right: 5em; }

#projects table.meta tr td.label {
    padding-left: 2em;
    font-size: 0.5em;
    font-weight: normal;
    text-transform: lowercase;
    width: 30px;
    text-align: right;
}
