#account { float: right; }

section form label,
section form input {
    display: block;
}

section form input[type="text"] {
    width: 50%;
}

tr.overdue { background: red; }

#projects table.dates {
    float: right;
    font-size: 0.7em;
    border-collapse: collapse;
}

#projects table.meta {
    border: 1px solid #888;
    font-size: 0.7em;
    margin-bottom: 1em;
    border-collapse: collapse;
    width: 75%;
}

#projects table.dates tr { border: 1px solid #888; }

#projects table.dates tr td:first-child,
#projects table.meta tr td.label {
    background: #bbb;
    padding-right: 7px;
    text-transform: uppercase;
}

#projects table.meta tr td { padding-right: 5em; }

#projects table.meta tr td.label {
    padding-left: 2em;
    font-size: 0.5em;
    font-weight: normal;
    text-transform: lowercase;
    width: 30px;
    text-align: right;
}

#projects div#project div#tasks div#add-new-task { display: none; }

#projects div#project div#tasks table {
    border-collapse: collapse;
    width: 100%;
}

#projects div#project div#tasks table thead tr td { background: #333; color: white; padding: 1em; }

#projects div#project div#tasks table tbody tr td { padding: 0.5em; border-top: 0.3em solid white; }

#projects div#project div#tasks table tr.active { background: #ddd; }
#projects div#project div#tasks table tr.pending { background: #F2E1D9; }
#projects div#project div#tasks table tr.complete { background: #F1F2D9; }

#projects div#project div#tasks table td.title { width: 25%; }
#projects div#project div#tasks table td.desc { width: 50%; }
#projects div#project div#tasks table td.status { width: 10%; }
#projects div#project div#tasks table td.actions { width: 15%; }

#projects div#project div#tasks table td.status span.date {
    font-size: 0.7em;
    display: block;
    font-style: oblique;
    color: #888;
}
